.message {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 1em;
}
.errormessage {
    background-color: lightcoral;
    border: 1px solid darkred;
    padding: 1em;
}

span.error {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

input.error {
    background-color: yellow;
}

body {
     color: white;
     text-align: center;
     font-family: Helvetica, sans-serif;
     background-image: url("http://www.flash-screen.com/free-wallpaper/uploads/200903/imgs/1236066780.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
     background-color: black;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: white;
    text-transform: capitalize;
}

table.basic {
    border-collapse: collapse;
    background-color: black;
    margin: 10px;
}

table.basic th, table.basic td {
    border: solid 1px;
    padding: 4px;
}

/*  http://www.alistapart.com/articles/taminglists/ */
#navigation {
    width: 120px;
    border: none;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#navigation li {
    border: none;
    margin: 0;
}

#navigation li a {
    color:cyan;
    display: block;
    padding: 15px 15px 15px 1em;
    border: none;
    text-decoration: none;
    width: 100%;
}

html>body #navigation li a {
    width: auto;
}

#navigation li a:hover {
    border: none;
    color: white;
}

/*  http://realworldstyle.com/2col.html */
#navigation {
    width: 120px;
    float: left;
    margin-left: -1px;
}

#content {
    padding: 10px;
    margin-left: 130px;
}