<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

    <bean id="house" class="com.mycompany.hauntedhauses.entity">
        <property name="name" value="Nazev domu"/>
        <property name="address" ref="address1"/>
        <property name="date"/>
        <property name="history"/>
        <property name="ghosts">
            <list>
                <ref bean="ghost"/>
            </list>
        </property>
        <property name="residents">
            <list>
                <ref bean="resident"/>
            </list>
        </property>
    </bean>
    
    <bean id="address1" class="com.mycompany.hauntedhauses.entity.service.field">
        <property name="street" value="Ruzova"/>
        <property name="houseNumber" value="23"/>
        <property name="city" value="Brno"/>
        <property name="postalCode" value="62000"/>
    </bean>
         
    <bean id="resident" class="com.mycompany.hauntedhauses.entity">
        <property name="firstName" value="Pepa"/>
        <property name="lastName" value="Vocasek"/>
        <property name="house" ref="house"/>
        <property name="age" value="#{T (java.lang.Math).random() * 100.0}" />
    </bean>
    
    <bean id="power" class="com.mycompany.hauntedhauses.entity">
        <property name="name" value="neviditelnost"/>
        <property name="description" value="neni videt"/>
        <property name="ghosts">
            <list>
                <ref bean="ghost"/>
            </list>
        </property>
    </bean>
    
    <bean id="ghost" class="com.mycompany.hauntedhauses.entity">
        <property name="name" value="Old man"/>
        <property name="scaryTimeStart" value=""/>
        <property name="scaryTimeEnd" value=""/>
    </bean>
    
</beans>
